@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{

    padding: none;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --acent-color: #00E676;
    --acent-color-rgba: rgba(0,230,118);
    --border-color: #BDBDBD;
    --main-color: #3D5AFE;
    --main-background-color: #F8F9FA;
    --main-text-color: #212121;
    --background-color: #F5F5F5;
    --secondary-color: #7C4DFF;
    --secondary-color-rgba: rgba(124,77,255);


    --space-1: 5rem;
    --space-2: 10rem;
    --space-3: 15rem;
    --space-4: 20rem;

    --main-font-family: font-family: "Inter", sans-serif;
    --standard-font: sans-serif;

    --standard-font-size-1: 1.5rem;
    --standard-font-size-2: 2rem;
    --standard-font-size-3: 3rem;
    --standard-font-size-4: 5rem;
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: var(--standard-font);
    min-height: 100vh;
    min-width: 100vw;
}

h4{
    margin-bottom: var(--space-1); 
    font-size: var(--standard-font-size-3);
}

a{
    text-decoration: none;
}

.main-header{
    display: flex;
    align-items: center;
    background-color: var(--acent-color);
    box-shadow: 5px 7px 86px -2px var(--acent-color-rgba);
    -webkit-box-shadow: 5px 7px 86px var(--acent-color-rgba);
    -moz-box-shadow: 5px 7px 86px -2px var(--acent-color-rgba);
    flex-direction: row;
    height: var(--standard-font-size-3);
    justify-content: space-between;
    margin-bottom: var(--space-2);
    padding: 0 10px;
    position: fixed;
    width: 100vw;
    z-index: 1000;
    transition: background-color 0.5s ease-in-out;
}

.main-nav-bar{
    display: flex;
    gap: 1rem;
}

.main-nav-bar a{
    color: var(--main-text-color);
    width: max-content;
    position: relative;
}

.main-nav-bar a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: var(--main-text-color);
    bottom: 0;
    top: 5;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.main-nav-bar a:hover::after{
    width: 80%;
}

.main-content-brand{
    display: flex;
    gap: 1rem;
}

.main-content{
    padding-top: 10rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: var(--space-4);
    justify-content: center;
    row-gap: var(--standard-font-size-2);
    transition: opacity 0.3s ease;

}

#accent-text{
    color: var(--acent-color);
}

.main-content button{
    background-color: var(--secondary-color);
    border: solid 1.8px;
    box-shadow: 5px 7px 86px -2px var(--secondary-color-rgba);
    -webkit-box-shadow: 5px 7px 86px -2px var(--secondary-color-rgba);
    -moz-box-shadow: 5px 7px 86px -2px var(--secondary-color-rgba);
    width: 30vw;
    height: 10vh;
    font-weight: bold;
    border-radius: 7px;
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}

.main-content button:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}

.main-functions{
    margin-bottom: 10rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100vw;
    min-height: 30rem;
    max-height: auto;
    margin-bottom: var(--space-1);
}

.main-functions-content{
    padding: 0.5rem;
    border: 1px solid var(--border-color);
    display: flex;
    flex-direction: column;
    font-size: var(--standard-font-size-1);
    color: var(--main-text-color);
    width: 50vw;
    row-gap: var(--standard-font-size-2);
    height: auto;
    word-break: break-all;
}

.main-functions-content a{
    position: relative;
    word-break: break-all;
}

.main-functions-content a::after{
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color:  var(--secondary-color);
    bottom: 0;
    top: 5;
    left: 0;
    transition: width 0.3s ease-in-out;
}

.main-functions-content a:hover::after{
    width: 90%;
}


.main-functions-text{
    color: var(--border-color);
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.main-functions-text span{
    color: var(--secondary-color);
}

.main-functions-text hr{
    width: 95%;
}

.main-functions-image{
    display: flex;
    width: 50vw;
    font-weight: bold;
    height: inherit;
    background: linear-gradient(135deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);
    -webkit-backdrop-filter: blur(10px);
    opacity: 80%;
    font-size: var(--standard-font-size-2);
    box-shadow: 10px 11px 31px -17px rgba(0,0,0,0.36) inset;
    -webkit-box-shadow: 10px 11px 31px -17px rgba(0,0,0,0.36) inset;
    -moz-box-shadow: 10px 11px 31px -17px rgba(0,0,0,0.36) inset;
}

.main-security{
    width: 100vw;
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 2.5rem;
    flex-direction: column;
    row-gap: var(--standard-font-size-2);
    margin-top: var(--space-3);
    margin-bottom: var(--space-3);
    font-weight: bold;
}

.main-security-text{
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
}

.mockup-phone{
    display: flex;

    align-items: center;
    background-color: var(--secondary-color);
    box-shadow: 26px 7px 100px -2px var(--secondary-color-rgba);
    -webkit-box-shadow: 26px 7px 100px -2px var(--secondary-color-rgba);
    -moz-box-shadow: 26px 7px 100px -2px var(--secondary-color-rgba);
    margin-bottom: var(--space-3);
}

.mockup{
    background-color: transparent;
    filter: drop-shadow(26px 7px 86px -2px rgba(0,0,0,0.62));
}

.main-brands{
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 5rem;
    margin-bottom: var(--space-2);
}

.main-logo{
    font-size: var(--standard-font-size-3);
    color: var(--main-text-color);
    width: 100vw;
    padding-left: 15rem;
}

.references{
    font-size: var(--standard-font-size-2);
}

.brands{
    width: 80vw;
    display: flex;
    font-size: 5rem;
    justify-content: space-evenly;
}

.brands p{
    display: flex;
    font-weight: bold;
    font-size: var(--standard-font-size-2);
}

.problem-soluction{
    width: 100vw;
    height: 30rem;
    box-shadow: 5px 7px 86px -2px var(--acent-color-rgba);
    -webkit-box-shadow: 5px 7px 86px -2px var(--acent-color-rgba);
    -moz-box-shadow: 5px 7px 86px -2px var(--acent-color-rgba);
}

.circle{
    display: flex;
    position: relative;
    bottom: 5px;
    height: 25rem;
    width: 25rem;
    background-color: var(--acent-color);
    border-radius: 50%;
    z-index: -1;
}

.main-plans{
    font-size: 5rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 500px;
    flex-direction: column;
    margin-bottom: var(--space-3);
}

.main-plans-text{
    margin-bottom: var(--space-1);
}

.plans{
    display: flex;
    width: 100vw;
    padding: 0 10px;
    flex-wrap: wrap;
    justify-content: space-between;
}
.category{
    display: flex;
    flex-direction: column;
    width: 30%;
    height:10rem;
    row-gap: 10px;
    font-weight: bold;
    height: 20rem;
    border-radius: 10px;
    background: linear-gradient(135deg, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
    backdrop-filter: blur(10px);
    border: 1px solid var(--border-color);
    -webkit-backdrop-filter: blur(10px);
    transform: scale(1);
    opacity: 80%;
    transition: all 0.3s ease;
    justify-content: center;
    align-items: center;
    font-size: var(--standard-font-size-2);
    box-shadow: 10px 11px 31px -17px rgba(0,0,0,0.36) inset;
    -webkit-box-shadow: 10px 11px 31px -17px rgba(0,0,0,0.36) inset;
    -moz-box-shadow: 10px 11px 31px -17px rgba(0,0,0,0.36) inset;
}

.category .price{
    text-decoration: line-through;
}

.category p{
    cololor: var(--main-text-color);
}

.category:hover{
    transform: scale(1.1);
    transition: all 0.3s ease;
}

.main-contact{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: var(--standard-font-size-3);
    flex-direction: column;
    row-gap: var(--standard-font-size-2);
    margin-bottom: var(space-2);
}

.main-contact-form{
    display: flex;
    align-items: center;
    gap: var(--standard-font-size-2);
}
.main-contact-form input{
    display: flex;
    justify-content: flex-end;
    width: 60vw;
    height: 8vh;
    border-radius: 10px;
    border: solid 2px var(--border-color);
    padding-left: 10px;
    font-size: 1.5rem;
}

.main-contact-form button{
    background-color: var(--acent-color);
    border: solid 1.8px;
    box-shadow: 5px 7px 86px -2px var(--acent-color-rgba);
    -webkit-box-shadow: 5px 7px 86px -2px var(--acent-color-rgba);
    -moz-box-shadow: 5px 7px 86px -2px var(--acent-color-rgba);
    width: 10vw;
    height: 8vh;
    font-weight: bold;
    border-radius: 7px;
    transform: scale(1);
    transition: transform 0.4s ease-in-out;
}

.main-contact-form button:hover{
    transform: scale(1.2);
    transition: transform 0.4s ease-in-out;
}

.main-footer{
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: var(--space-1);
}

.main-footer-infos{
    display: flex;
    gap: var(--space-1);
    width: 100vw;
    font-size: var(--standard-font-size-1);
}

.main-footer-logo{
    font-size: var(--standard-font-size-2);
}

.main-footer-links{
    display: flex;
    gap: var(--space-1);
    width: 100vw;
}

.main-footer-links a{
    color: gray;
}

.main-footer-links a:hover{
    color: var(--secondary-color);
}

.divison{
    margin-bottom: var(--space-1);
    margin-top: var(--space-1);
}

@media (max-width: 773px){
    .main-header{
        justify-content: center;
    }
    .main-header nav{
        display: none;
    }

    .references{
        font-size: var(--standard-font-size-1);
    }

    .plans p{
        font-size: var(--standard-font-size-1);
    }
}

@media (max-width: 508px){
    h1,h2,h4, h5, h6, .main-contact-content, .main-content h1{
        font-size: var(--standard-font-size-1);
    }


    .main-plans{
        height: auto;
        font-size: var(--standard-font-size-1);
    }
    .main-content-text{
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
    }
    .plans{
        position: relative;
        display: flex;
        flex-direction: column;
        row-gap: var(--standard-font-size-2);
        align-items: center;
    }

    .category{
        width: 80vw;
        height: 20rem;
    }

    .mockup-phone{
        display: none;
    }

    .main-header nav{
        display: none;
    }

    .main-content button{
        width: 80vw;
        height: 10vh;
    }

    .mockup-phone{
        width: 90vw;
        height: 100vh;
    }

    .brands p{
        font-size: var(--standard-font-size-1);
    }

    .main-contact-form button{
        width: 30%;
    }

    .main-footer{
        padding: 0;
    }

    .main-footer-infos{
        flex-direction: column;
        align-items: center;
    }

    .main-footer-links{
        text-align: center;
        align-items: center;
        font-size: var(--standard-font-size-1);
        margin-bottom: var(--space-1);
    }

}